@use "@/styles/variables" as *;

.filter {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 20px 12px;
  border-radius: 16px;

  backdrop-filter: blur(36px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #1a3d63 0%,
    rgba(26, 61, 99, 0.8) 100%
  );

  &__title {
    font-weight: 600;
    font-size: 20px;
    color: $color-ghost-white;
  }
}