.navbar {
  position: relative;
  &__background {
  }

  &__list {
    position: absolute;
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;

    list-style: none;

    border-radius: 40px;
  }

  &__item {
    flex-basis: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    width: 100%;
    height: 66px;

    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #f6fafd;

    &Active {
      backdrop-filter: blur(4px);
      background: rgba(246, 250, 253, 0.2);
      color: #b3cfe5;
      border-radius: 40px;
    }
  }

  &__icon {
    color: inherit;
  }
}
