.slider {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  &__list {

  }

  &__item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 240px;
  }
}
