@use "../../styles/variables" as *;

.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
  

  &__mapWrapper {
    display: flex;
    margin: 0 auto;
  }

  &__mapBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__mapLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32px;
    min-width: 120px;
    border-radius: 40px;
    text-decoration: none;

    z-index: 1;
  }

  &__list {
    display: flex;
  }

  &__mapText {
    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: 15px;
    color: $color-ghost-white;
  }

  
}
