@use "@/styles/variables" as *;

.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;

  &__mapWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: 120px;
    height: 32px;
    border-radius: 40px;

    border-radius: 36px;

     background: rgba(84, 84, 84, 0.1);
  backdrop-filter: blur(45px);
  -webkit-backdrop-filter: blur(45px);
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  

  }

  &__mapLink {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    width: 100%;

    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: 15px;
    color: $color-ghost-white;
    text-decoration: none;
  }
  /*  

  

  &__mapBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__mapLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32px;
    min-width: 120px;
    border-radius: 40px;
    text-decoration: none;

    z-index: 1;
  }

  &__list {
    display: flex;
  }

  &__mapText {
    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: 15px;
    color: $color-ghost-white;
  }
 */
}
