$color-black: #000;
$color-white: #fff;
$color-ghost-white: #F6FAFD;
$color-slate-gray: #707579;
$color-gray: #C1C1C1;
/* $font-stack-sf-pro: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                   Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
                   'Segoe UI Emoji', 'Segoe UI Symbol'; */