@use "../../styles/variables" as *;

.card {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;

  padding: 10px;
  box-shadow: 2px 4px 4px 0 rgba(10, 24, 50, 0.15);
  background: rgba(246, 250, 253, 0.1);
  border-radius: 12px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__imgWrapper {
    position: relative;
    height: 168px;
    width: 100%;
  }

  &__img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
  }

  &__savedBtn {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background: rgba(246, 250, 253, 0.1);
    border: none;
    border-radius: 50%;
    padding: 0;

    color: $color-ghost-white;

    &IconActive {
      fill: $color-ghost-white;
    }
  }

  &__premiumLabel {
    position: absolute;
    left: 8px;
    bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background: rgba(246, 250, 253, 0.1);

    font-weight: 400;
    font-size: 12px;

    border-radius: 8px;
    padding: 4px 12px;
  }
}
