@use "@/styles/variables" as *;

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    margin-top: 84px;
  }

  &__text {
    font-weight: 600;
    font-size: 15px;
    color: $color-ghost-white;
    margin-top: 48px;
  }

  &__button {
    text-decoration: none;
    text-align: center;
    font-family: $font-family-secondary;
    font-weight: 590;
    font-size: 17px;

    backdrop-filter: blur(10px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: $brand-blue-100;
    color: $brand-blue-400;

    border: none;
    border-radius: 24px;
    padding-block: 12px;
    width: 100%;

    margin-top: 16px;

    cursor: pointer;
  }
}
