@use "../../styles/variables" as *;

.sliderSection {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  &__link {
    font-weight: 600;
    font-size: 15px;
    color: $color-ghost-white;
    text-decoration: none;
  }

  &__sliderWrapper {
    margin-right: -16px;
  }
}
