@use "@/styles/variables" as *;

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;

  backdrop-filter: blur(24px);
  background-color: rgba(246, 250, 253, 0.01);

  border-top: 0.2px solid $color-ghost-white;
  border-radius: 40px 40px 0 0;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__space {
    width: 100px;
    visibility: hidden;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    min-width: 44px;
    height: 44px;

    border: none;
    border-radius: 50%;
    background-color: rgba(26, 61, 99, 0.6);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    cursor: pointer;
  }

  &__reset {
    border: none;
    background: none;
    font-weight: 600;
    font-size: 15px;
    color: inherit;
    cursor: pointer;
  }

  .modal__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
    padding-bottom: 32px;

    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }
}




.modal__content > * {
  min-width: 0;
}

