@use "@/styles/variables" as *;

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;

  backdrop-filter: blur(24px);
  background-color: rgba(246, 250, 253, 0.01);

  border-top: 0.2px solid $color-ghost-white;
  border-radius: 40px 40px 0 0;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__space {
    width: 100px;
    visibility: hidden;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    min-width: 44px;
    height: 44px;

    border: none;
    border-radius: 50%;
    background-color: rgba(26, 61, 99, 0.6);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

    cursor: pointer;
  }

  &__reset {
    border: none;
    background: none;
    font-weight: 600;
    font-size: 15px;
    color: inherit;
    cursor: pointer;
  }

  .modal__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
    padding-bottom: 32px;

    scrollbar-gutter: stable; /* важливо */
  }
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 20px 12px;
  border-radius: 16px;

  backdrop-filter: blur(36px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #1a3d63 0%,
    rgba(26, 61, 99, 0.8) 100%
  );

  &__title {
    font-weight: 600;
    font-size: 20px;
    color: $color-ghost-white;
  }
}

.rooms,
.date {
  list-style: none;

  display: flex;
  gap: 4px;

  &__item {
    flex-basis: 33.333%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }
  &__button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: 15px;
    height: 44px;
    width: 100%;
    color: inherit;

    border-radius: 24px;
    border: none;
    padding: 0px 24px;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    background: rgba(246, 250, 253, 0.1);
  }
}

.filterToggler {
  display: flex;
  flex-grow: 1;

  align-items: center;
  background-color: rgba(246, 250, 253, 0.1);
  border-radius: 24px;
  padding: 4px;

  &__button {
    display: flex;
    width: 50%;
    box-sizing: border-box;

    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: $color-gray;
    background-color: transparent;
    border: none;
    border-radius: 24px;
    line-height: 1;

    padding: 10px 0;
    justify-content: center;

    cursor: pointer;

    transition: color, background-color 0.3s ease;

    &Active {
      background: linear-gradient(93deg, #4a7fa7 0%, #1a3d63 100%);
      color: $color-ghost-white;
    }
  }
}

.range {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__values {
    display: flex;
    gap: 8px;
  }

  &__field {
    display: flex;
    position: relative;
    width: 100%;
    border: 0.2px solid rgba(246, 250, 253, 0.7);
    border-radius: 16px;
    padding: 40px 12px 10px;
  }

  &__value {
    width: 100%;
    border: none;

    background-color: inherit;

    font-weight: 600;
    font-size: 20px;
    font-family: inherit;

    &::placeholder {
      color: $color-ghost-white;
    }

    &:focus {
      outline: none;
      color: inherit;
    }
  }

  &__label {
    position: absolute;
    top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: #dcdcdc;
  }
}

.modal__content > * {
  min-width: 0;
}
