.homepage {
  position: relative;
  padding-bottom: 142px;

  &__toolbar {
    margin-bottom: 40px;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
}
