@use "@/styles/variables" as *;

.mainToolbar {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__bottom {
    display: flex;
    gap: 8px;
  }

  &__dropdown {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;

    box-sizing: border-box;
    height: 44px;

    padding: 0 12px 0 52px;
    border-radius: 24px;
    backdrop-filter: blur(16px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background: rgba(246, 250, 253, 0.1);

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url("../../../public/img/icons/search.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url("../../../public/img/icons/arrow-right.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__option {
    flex-grow: 1;

    align-self: stretch;

    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
    font-family: $font-family-secondary;
    font-weight: 400;
    font-size: 15px;
    color: inherit;

    cursor: pointer;
  }

  &__filter {
    width: 44px;
    min-width: 44px;
    height: 44px;
    background: rgba(246, 250, 253, 0.1);
    border-radius: 50%;
    border: none;

    cursor: pointer;
  }
}

.icon {
  color: $color-ghost-white;
}
