@use "../../styles/variables" as *;

.mainToolbar {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__top {
    display: flex;
    gap: 8px;
  }

  &__link {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    background: rgba(246, 250, 253, 0.1);
    width: 44px;
    min-width: 44px;
    height: 44px;
    border-radius: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: transparent;
    cursor: pointer;

    transition: background-color 0.3s ease;

    &Active {
      background: rgba(246, 250, 253, 0.2);
    }
  }

  &__toggler {
    display: flex;
    flex-grow: 1;

    align-items: center;
    background-color: rgba(246, 250, 253, 0.1);
    border-radius: 24px;
    padding: 4px;
  }

  &__btn {
    display: flex;
    width: 50%;
    box-sizing: border-box;

    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: $color-gray;
    background-color: transparent;
    border: none;
    border-radius: 24px;
    line-height: 1;

    padding: 10px 0;
    justify-content: center;

    cursor: pointer;

    transition: color, background-color 0.3s ease;

    &Active {
      background-color: rgba(246, 250, 253, 0.2);
      color: $color-ghost-white;
    }
  }

  &__bottom {
    display: flex;
    gap: 8px;
  }

  &__dropdown {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;

    box-sizing: border-box;
    height: 44px;

    padding: 0 12px 0 52px;
    border-radius: 24px;
    backdrop-filter: blur(16px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background: rgba(246, 250, 253, 0.1);

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url("../../../public/img/icons/search.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url("../../../public/img/icons/arrow-right.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__filter {
    width: 44px;
    min-width: 44px;
    height: 44px;
    background: rgba(246, 250, 253, 0.1);
    border-radius: 50%;
    border: none;

    cursor: pointer;
  }
}

.icon {
  color: $color-ghost-white;
}
