.link {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background: rgba(246, 250, 253, 0.1);
  display: flex;
  justify-content: center;
  justify-items: center;

  &--round {
    border-radius: 50%;
    padding: 8px;
    width: 44px;
    height: 44px;
  }
  &--roundActive {
    border-radius: 50%;
    padding: 8px;
    width: 44px;
    height: 44px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
background: rgba(246, 250, 253, 0.2);
  }
}
