@use "@/styles/variables" as *;

.navbar {
  padding: 4px;

  border-radius: 174px;

  background: rgba(84, 84, 84, 0.1);
  backdrop-filter: blur(45px);
  -webkit-backdrop-filter: blur(45px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  &__list {
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;

    list-style: none;

    border-radius: 40px;
  }

  &__item {
    flex-basis: 25%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: 15px;
    color: $color-ghost-white;
    text-decoration: none;

    border-radius: 40px;
    width: 100%;
    height: 66px;

    &Active {
      backdrop-filter: blur(4px);
      background: rgba(246, 250, 253, 0.2);
    }
  }

  /*   position: relative;
  &__background {
  }

  



  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    width: 100%;
    height: 66px;

    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #f6fafd;

    &Active {
      backdrop-filter: blur(4px);
      background: rgba(246, 250, 253, 0.2);
      color: #b3cfe5;
      border-radius: 40px;
    }
  }

  &__icon {
    color: inherit;
  } */
}
